{{!-- Layout for the main Studdit page --}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>studdit</title>
    <link rel="stylesheet" href="css/studdit-main.css">
</head>
<body>
    <!-- Navbar -->
    <header class="navbar">
        <a href="/" class="logo">
            <h1>studdit</h1>
        </a>
        <nav>
            <a href="/about" style="font-size:70%">About Us</a>
            <form id="form-search"><input type="text" id="search" placeholder="Search threads..."></form>
            {{#if user}}
            <a href="/create-thread" id="create-thread-link">Create</a>
            <a href="/logout">Logout</a>
            {{else}}
            <!-- Show Login if user is not logged in -->
            <a href="/login" id="login-link">Login</a>
            {{/if}}
        </nav>
    </header>

    <!-- Main Content -->
    <main>
        <section class="posts">
            {{#each posts}}
            <article class="post">
                <div class="post-info">
                    <h2 class="post-title"><a href="/thread/{{this._id}}">{{this.title}}</a></h2>
                    <p class="post-author">
                        <a href="/users/profile/{{this.author.username}}">Posted by u/{{this.author.username}}</a> 
                    </p>
                </div>

                <div class="post-subinfo">
                    <p>in <a href="/subjects/r/{{this.subject.name}}">r/{{this.subject.name}}</a>, {{this.date}}</p>
                </div>

                <div class="post-content">
                    <p>{{this.content}}</p>
                </div>
                <div class="post-interactions">
                    <button data-post-id="{{this._id}}" class="like-button">👍 {{this.likes}}</button>
                    <a href="/thread/{{this._id}}">
                          <button data-post-number="{{this._id}}">💬 {{this.comments.length}} Comments</button>
                    </a>
                </div>
            </article>
            {{/each}}
        </section>

        <!-- Sidebar -->
        <aside class="sidebar">
            <h3>Top Subjects</h3>
            <ul>
                {{#each subjects}}
                <li><a href="/subjects/r/{{this.name}}">r/{{this.name}}</a></li>
                {{/each}}
            </ul>
        </aside>
    </main>

    <footer>
        <p>studdit - All Rights Reserved</p>
    </footer>

    <script src="/js/script.js"></script>
</body>
</html>
