<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Studdit Forum - Thread</title>
    <link rel="stylesheet" href="/css/thread.css">
</head>
<body>
    <!-- Navbar -->
    <header class="navbar">
        <a href="/" class="logo">
            <h1>studdit</h1>
        </a>
        <nav>
            <a href="/about" style="font-size:70%">About Us</a>
            <input type="text" id="search" placeholder="Search threads..."> 
            {{#if user}}
            <a href="/create-thread" id="create-thread-link">Create</a>
            <a href="/logout">Logout</a>
            {{else}}
            <!-- Show Login if user is not logged in -->
            <a href="/login" id="login-link">Login</a>
            {{/if}}
        </nav>
    </header>

    <main>
        <section class="posts">
            {{#each posts}}
            <article class="post">
                <div class="post-info">
                    <h2 class="post-title">{{this.title}}</h2>
                    <p class="post-author">
                        <a href="/users/profile/{{this.author.username}}">Posted by u/{{this.author.username}}</a>
                    </p>
                </div>

                <div class="post-subinfo">
                    <p>in <a href="/subjects/r/{{this.subject.name}}">r/{{this.subject.name}}</a>, {{this.date}}</p>
                </div>

                <div class="post-content">
                    <p>{{this.content}}</p>
                </div>

                <div class="post-interactions">
                    <button data-post-id="{{this._id}}" class="like-button">👍 {{this.likes}}</button>
                </div>

                {{!-- Comments Section --}}
                <div class="comments">
                    <h3>Comments</h3>
                    <div class="comment-box">
                        <textarea data-post-id="{{this._id}}" class="comment-input" placeholder="What are your thoughts?"></textarea>
                        <button onclick="addComment('{{this._id}}')">Comment</button>
                    </div>
                    <ul class="comment-list">
                        {{#each this.comments}}
                        <li class="comment">
                            <p class="comment-author">
                                <a href="/users/profile/{{this.author.username}}">u/{{this.author.username}}</a>
                            </p>
                            <p class="comment-content">{{this.content}}</p>
                        </li>
                        {{/each}}
                    </ul>
                </div>
            </article>
            {{/each}}
        </section>
    </main>


    <script src="/js/script.js"></script>
</body>
</html>